* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(15, 15, 15);
    margin: 0 60px 0 60px;
}

.NavApple {
    background-color: rgb(39 39 40 / 72%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(15px);
    height: 40px;
    width: 230%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgb(156, 156, 156);
    box-shadow: 3px 2px 6px 0px #080808;
    justify-content: end;
    border: solid 1px #323232;
}

nav {
    position: fixed;
    z-index: 999;
    left: 25%;
    top: 25px;

}

.navegação {
    display: flex;
}

a {
    color: rgb(235, 235, 235);
    padding: 0 5px 0 5px;
}

.Apre {
    margin-top: 154px;
    color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Margin {
    margin-top: 0px;
}

.H1N {
    font-weight: 700;
    font-size: 60px;
}

.TextColor {
    background: rgb(227, 154, 101);
    background: linear-gradient(90deg, rgba(227, 154, 101, 1) 0%, rgba(169, 47, 251, 1) 45%, rgba(101, 7, 250, 1) 77%, rgba(57, 25, 187, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    animation: texto 2s infinite ease-in-out;
}

.P1N {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
}

.note {
    width: 650px;
}

.pt2 {
    text-align: center;
}

.Svg2 {
    width: 520px;
}

.TextEx {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.HTML {
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.expe {
    margin-top: 30px;
}

.Ling {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border {
    width: 400px;
    border: solid 1px rgb(58, 58, 58);
    height: 30px;
    border-radius: 20px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    padding: 3px;
}

.quant {
    background: linear-gradient(90deg, rgba(227, 154, 101, 1) 0%, rgba(169, 47, 251, 1) 45%, rgba(101, 7, 250, 1) 77%, rgba(57, 25, 187, 1) 100%);
    height: 30px;
    border-radius: 20px;
}

.QHTML {
    width: 93%;
}

.QCSS {
    width: 96%;
}

.QJS {
    width: 82%;
}

.QREACT {
    width: 62%;
}

.CSS {
    margin-top: 20px;
}

.PT1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space {
    width: 20%;
    display: flex;
    align-items: center;
}

.SVGHTML {
    width: 30px;
    height: 30px;
}

.espa {
    margin-left: 4px;
}

.Respons {
    width: 126%;
}

.Font {
    font-size: 40px;
}

.blocks {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.Arte {
    width: 400px;
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px;
    height: 400px;
    background-color: rgb(37, 37, 37);
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 1px solid rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Site1 {
    background-image: url(./img/site\ 1.jpg);
}

.Site2 {
    background-image: url(./img/comida.jpg);
}

.Site3 {
    background-image: url(./img/netflix.jpg);
}

.Site4 {
    background-image: url(./img/obaa.com.br_.png);
    background-position-y: -200px;
}

.Site5 {
    background-image: url(./img/zyro-templates.jpg);
    background-size: 140%;
}

.Site6 {
    background-image: url(./img/loucura.jpg);

}

.ArtesF {
    margin-top: 40px;
}

.Arte1 {
    background-image: url(./img/banner-zema.pn);
    background-size: 200%;
}

.Arte2 {
    background-image: url(./img/mockup-hamburguer-2.pn);
    background-size: 150%;

}

.Arte3 {
    background-image: url(./img/mockup-hamburger.pn);
    background-size: 150%;
}

.Arte4 {
    background-image: url(./img/mockup2-sonho-de-valsa.pn);
    background-size: 150%;
}

.Arte5 {
    background-image: url(./img/pizzaria\ napolitana\ \(8\).jpeg);
}

.Arte6 {
    background-image: url(./img/Biotrof-panfleto.png);
}

.botão{
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(227, 154, 101, 1) 0%, rgba(169, 47, 251, 1) 45%, rgba(101, 7, 250, 1) 77%, rgba(57, 25, 187, 1) 100%);
    color: rgb(230, 230, 230);
    font-weight: 600;
    cursor: pointer;
    transition: 500ms;
    box-shadow: 4px 4px 6px #00000066;
    }

.botão:hover{
   animation: texto 2s ease-in-out infinite;
   transition: 500ms;
   transform: translateY(-8px);
}
.fim{
    text-align: center;
    margin-top: 60px;
}
.Final{
    color: rgb(231, 231, 231);
}
.ultimoB{
    width: 30%;
    height: 40px;
    margin-top: 30px;
     background: linear-gradient(90deg, rgba(227, 154, 101, 1) 0%, rgba(169, 47, 251, 1) 45%, rgba(101, 7, 250, 1) 77%, rgba(57, 25, 187, 1) 100%);
     color: rgb(231, 231, 231);
     font-weight: 600;
     font-size: 20px;
     border-radius: 12px;
     cursor: pointer;
     transition: 500ms;
     box-shadow: 4px 4px 6px #00000066;
    }
    .ultimoB:hover{
        animation: texto 2s ease-in-out infinite;
   transition: 500ms;
   transform: translateY(-8px);
    }
    .contact{
        color: rgb(231, 231, 231);
        margin-top: 30px;
        font-weight: 600;
    }
    .redes{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .spe{
        padding: 10px;
    }
    .svgredes{
        transition: 500ms;
        cursor: pointer;
    }
    .svgredes:hover{
        transform: translatey(-10px);
        transition: 500ms;

    }




























@keyframes texto {
    0% {
        background-size: 100%;
    }

    50% {
        background-size: 300%;
        background-position: 23%;
    }

    100% {
        background-size: 100%;
    }
}

.cls-3 {
    animation: Svgs 4s infinite ease-in-out;
}

.cls-2 {
    animation: Svgs 4s infinite ease-in-out;
    animation-delay: 2s;
}

.cls-1 {
    animation: Svgs 4s infinite ease-in-out;
    animation-delay: 1s;
}

.cls-29 {
    animation: Svgs 4s infinite ease-in-out;
    animation-delay: 500ms;
}

.none {
    animation: none !important;
}

.cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19 {
    animation: Svgs 6s infinite ease-in-out;
    animation-delay: 200ms;
}

.clsx-2 {
    animation: Svgs2 6s infinite ease-in-out;
    animation-delay: 200ms;
}

.clsx-1 {
    animation: Svgs2 6.5s infinite ease-in-out;
    animation-delay: 600ms;
}

.clsx-14, .clsx-15, .clsx-6, .clsx-9 {
    animation: Svgs 6.5s infinite ease-in-out;
    animation-delay: 600ms;
}

.clsz-132, .clsz-81, .clsz-133, .clsz-126 {
    animation: Svgs 6.5s infinite ease-in-out;
    animation-delay: 600ms;
}


@keyframes Svgs3 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Svgs2 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes Svgs {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateX(0);
    }
}